/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* TODO: перевести всё в логические выражения */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url("../images/cover-image-dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: 10px;
  min-block-size: 668px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-color);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  font-style: normal;
  line-height: 18px; /* 100% */
  text-align: center;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
  appearance: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.heading-decor {
  color: var(--title-accent);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%; /* 95.7px */
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-zone {
  position: relative;
  block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.rec-text::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.rec-text::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-block-start: 18px;
  inset-inline-end: 19px;
  inline-size: 9px;
  block-size: 9px;
}


.header_subtitle {
  justify-self: end;
  align-self: center;
  text-align: left;
}

.title-decor {
  color: var(--text-color);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 130%;
  background-color: var(--accent-color);
}

.heading {
  color: var(--accent-color);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 130%;
  background-color: transparent;
  margin-block-start: 28px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  inline-size: 100%;
}

.section-block {
  display: grid;
  gap: 20px;
  inline-size: 100%;
}

.article-heading {
  margin-block-end: 10px;
}

.article-heading__advice {
  margin-bottom: 20px;
}

.article-sub_heading {
  margin-block-end: 10px;
  font-weight: var(--font-weight-regular);
}

.section-text {
color: var(--text-accent);
}
/* 
.article-sub_heading:first-of-type {
  margin-block-start: 20px;
} */

.section-content {
  margin-block-start: 0;
  margin-block-end: 0;
  /* padding-block-start: 10px; */
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main, sans-serif);
  line-height: 23.4px;
}

.pictures__container {
  display: grid;
  inline-size: 100%;
}

.gallery-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 30px;
  font-size: var(--font-size-main);
  inline-size: 100%;
  min-block-size: 668px;
  height: 100vh;
}

.footer-title {
  text-shadow: 2px 2px var(--accent-color);
}
