/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* TODO: перевести всё в логические выражения */


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: flex-end;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--accent-color);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  font-style: normal;
  line-height: 18px; /* 100% */
  text-align: center;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.heading-decor {
  color: var(--title-accent);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%; /* 95.7px */
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-zone {
  block-size: 100vh;
  position: relative;
}

.decorated-zone::before {
  content: '';
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}


.rec-text::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.rec-text::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-block-start: 18px;
  inset-inline-end: 19px;
  inline-size: 9px;
  block-size: 9px;
}

.title-decor {
  background: var(--accent-color);
}

.header_subtitle {
  justify-self: end;
  text-align: left;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family-main), sans-serif;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 130%;
}

.heading {
  font-family: var(--font-family-main), sans-serif;
  background-color: transparent;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 130%;
  color: var(--accent-color);
}

.main {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
}

.section-block {
  inline-size: 100%;
  display: grid;
  gap: 20px;
}


.article-heading {
 
}

.article-sub_heading {
  font-weight: var(--font-weight-regular);
}

.article-sub_heading:first-of-type {
  margin-top: 20px;
}

.section-content {
  padding-block-start: 10px;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  margin-block-start: 0;
  margin-block-end: 0;
  /* text-align: left; */
  font-size: var(--font-size-main, monospace, sans-serif);
  font-weight: var(--font-weight-regular);
  line-height: 23.4px;
}