/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --text-color: #000028;
  --accent-color: #ff0070;
  --title-accent: #db00ff;
  --font-size-main: 18px;
  --font-family-main: 'IBM Plex Mono', sans-serif;
}
